{% extends "base.html" %}
{% block title %}Księga Gości{% endblock %}
{% set active_page = "index" -%}

{% block body %}
<form method="post" action="ksiega_gosci" id="form">
        <div class="row mb-3">
            <label for="inputNick3" class="col-sm-2 col-form-label">Nickname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNick3" name="nickname">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputMail3" class="col-sm-2 col-form-label">Treść</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputContent3" name="content">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Wyślij</button>
    </form>
{% endblock %}